<ul>
{{#each content.pairings}}
	<li>
    {{#link-to "pairings.pairing" this}}
  		{{primaryUser.name}} <span class="glyphicon glyphicon-heart"></span> {{secondaryUser.name}}:
  		{{format-date startDate "MMM DD, YYYY"}} - {{format-date endDate "MMM DD, YYYY"}}
    {{/link-to}}
	</li>
{{/each}}
</ul>