{{#if session.isAuthenticated}} 
<header>
  <div class="inner">
  {{link-to "Buddy Buddy" 'application' classNames="buddybuddy-logo" }}

    <nav>
      <ul>
        <li>
          {{#link-to  'users.user' session.currentUser}} Hi, {{session.currentUser.name}}!{{/link-to}}
        </li>
        <li>
          {{#link-to 'pairings'}}Pairings{{/link-to}}
        </li>
        <li>
          {{#link-to 'checkin' classNames="check-in"}}Check In{{/link-to}}
        </li>
          <a {{action 'invalidateSession' }}>Sign Out</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
{{/if}}


<section class="main">
  <div class="inner">
    {{outlet}}
  </div>
</section>

<footer>
  <div class="inner">
    <p><a href="http://simplereach.com">SimpleReach</a> <span class="heart"></span> you.</p>
  </div>
</footer>
