{{link-to "Buddy Buddy" 'application' classNames="navbar-brand" }}

<ul>
  {{#if currentUserService.user}}
  <li>
    {{#link-to  "users.user" currentUserService.user}} Hi, {{currentUserService.user.name}}!{{/link-to}}
  </li>
  <li>
    <a {{action "signOut"}}>Sign Out</a>
  </li>
  {{/if}}
</ul>

{{outlet}}
