<section class="checkins"> 
  <h3>BuddFeed</h3>
  {{#each arrangedContent}}
    <article>
      <span class="arrow"></span>
      <span class="message">{{message}}</span>
      <span class="buddy">{{user.name}}</span>
      <span class="date">{{format-date createdAt "dddd, MMMM DD"}}</span>
      <div>
        {{favorite-log log=this user=user currentUser=currentUserService.user content=favorites action="favorite"}}
      </div>
    </article>
  {{/each}}
</section>
