<h2>Who are you?</h2>
{{view Ember.Select content=arrangedContent 
                    value=selectedUser
                    optionLabelPath="content.name"
                    prompt="Select your name"
                    class="form-control"}}
  
<button {{action "login" selectedUser}}>Login</button>