<h1 class="buddybuddy-logo login"><img src="/images/logo.png" /></h1>

<h2 class="who">Who are you?</h2>

<form {{action 'authenticate' on='submit'}}>
  <label for='identification'>Login</label>
  {{input id='identification' placeholder='Enter Login'
           value=identification}}
  <label for='password'>Password</label>
  {{input id='password' placeholder='Enter Password'
           type='password' value=password}}
  <button type='submit'>Login</button>
</form>
