<h1 class="buddybuddy-logo login"><img src="/images/logo.png" /></h1>

<h2 class="who">Who are you?</h2>

<form {{action 'authenticate' on='submit'}} class='login'>
  <ul> 
    <li>
      <label for='identification'>Login</label>
      {{input id='identification' placeholder='email address' value=identification size='51'}}
    </li>
    
    <li>
      <label for='password'>Password</label>
      {{input id='password' placeholder='password' type='password' value=password size='51'}}
    </li>
  </ul>
    
  <button type='submit' class="btn">Login</button>
</form>
