<ul class="list-group">
{{#each content.pairings}}
	<li class="list-group-item">
    {{#link-to "pairings.pairing" this}}
  		{{primaryUser.screenName}} <span class="glyphicon glyphicon-heart" style="color:red;"></span> {{secondaryUser.screenName}}:
  		{{format-date startDate "MMM DD, YYYY"}} - {{format-date endDate "MMM DD, YYYY"}}
    {{/link-to}}
	</li>
{{/each}}
</ul>