{{outlet}}
<h3>All Pairings: </h3>
<ul>
  {{#each pairing in content}}
  <li>
  	{{#link-to 'pairings.pairing' pairing}} 
  		{{pairing.id}}:  {{pairing.primaryUser.name}}, {{pairing.secondaryUser.name}}
  	{{/link-to}}
  </li>
  {{/each}}
</ul>
