{{outlet}}
<h3>All Pairings: </h3>
<ul>
  {{#each content}}
  <li>
  	{{#link-to 'pairings.pairing' this}} 
  	 {{#each buddies}}
        {{name}} {{#if heart}}<span class="glyphicon glyphicon-heart" style="color:red;"></span>{{/if}}
      {{/each}}
  	{{/link-to}}
  </li>
  {{/each}}
</ul>
