[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pacman:before {
  content: "\e600";
}
.icon-bubble:before {
  content: "\e601";
}
.icon-bubbles:before {
  content: "\e602";
}
.icon-bubbles2:before {
  content: "\e603";
}
.icon-bubble2:before {
  content: "\e604";
}
.icon-bubbles3:before {
  content: "\e605";
}
.icon-bubbles4:before {
  content: "\e606";
}
.icon-user:before {
  content: "\e607";
}
.icon-users:before {
  content: "\e608";
}
.icon-cog:before {
  content: "\e609";
}
.icon-cogs:before {
  content: "\e60a";
}
.icon-cog2:before {
  content: "\e60b";
}
.icon-mug:before {
  content: "\e60c";
}
.icon-food:before {
  content: "\e60d";
}
.icon-leaf:before {
  content: "\e60e";
}
.icon-fire:before {
  content: "\e60f";
}
.icon-lab:before {
  content: "\e610";
}
.icon-link:before {
  content: "\e611";
}
.icon-star:before {
  content: "\e612";
}
.icon-star2:before {
  content: "\e613";
}
.icon-star3:before {
  content: "\e614";
}
.icon-heart:before {
  content: "\e615";
}
.icon-heart2:before {
  content: "\e616";
}
.icon-happy:before {
  content: "\e617";
}
.icon-happy2:before {
  content: "\e618";
}
.icon-smiley:before {
  content: "\e619";
}
.icon-smiley2:before {
  content: "\e61a";
}
.icon-tongue:before {
  content: "\e61b";
}
.icon-tongue2:before {
  content: "\e61c";
}
.icon-sad:before {
  content: "\e61d";
}
.icon-sad2:before {
  content: "\e61e";
}
.icon-wink:before {
  content: "\e61f";
}
.icon-wink2:before {
  content: "\e620";
}
.icon-grin:before {
  content: "\e621";
}
.icon-grin2:before {
  content: "\e622";
}
.icon-cool:before {
  content: "\e623";
}
.icon-cool2:before {
  content: "\e624";
}
.icon-angry:before {
  content: "\e625";
}
.icon-angry2:before {
  content: "\e626";
}
.icon-evil:before {
  content: "\e627";
}
.icon-evil2:before {
  content: "\e628";
}
.icon-shocked:before {
  content: "\e629";
}
.icon-shocked2:before {
  content: "\e62a";
}
.icon-confused:before {
  content: "\e62b";
}
.icon-confused2:before {
  content: "\e62c";
}
.icon-neutral:before {
  content: "\e62d";
}
.icon-neutral2:before {
  content: "\e62e";
}
.icon-wondering:before {
  content: "\e62f";
}
.icon-wondering2:before {
  content: "\e630";
}
.icon-close:before {
  content: "\e631";
}
.icon-checkmark:before {
  content: "\e632";
}
.icon-checkmark2:before {
  content: "\e633";
}
.icon-checkbox-checked:before {
  content: "\e634";
}
.icon-checkbox-unchecked:before {
  content: "\e635";
}
.icon-checkbox-partial:before {
  content: "\e636";
}
.icon-radio-checked:before {
  content: "\e637";
}
.icon-radio-unchecked:before {
  content: "\e638";
}
.icon-facebook:before {
  content: "\e639";
}
.icon-twitter:before {
  content: "\e63a";
}
.icon-dribbble:before {
  content: "\e63b";
}
.icon-dribbble2:before {
  content: "\e63c";
}
.icon-github:before {
  content: "\e63d";
}
.icon-github2:before {
  content: "\e63e";
}
.icon-github3:before {
  content: "\e63f";
}
.icon-heart3:before {
  content: "\e640";
}
.icon-heart4:before {
  content: "\e641";
}
.icon-cloud:before {
  content: "\e642";
}
.icon-location:before {
  content: "\e643";
}
.icon-heart5:before {
  content: "\e644";
}
.icon-heart6:before {
  content: "\e645";
}
.icon-new:before {
  content: "\e646";
}
