@import 'bower_components/bones/bones.scss';
@import 'normalize.scss';
@import 'icomoon.scss';
@import 'forms.scss';

// TO DO: pull these into a proper palettes file and use color functions
$light-blue: hsl(198, 75.6098%, 51.7647%);
$dark-blue: hsl(206, 74.8837%, 42.1569%);
$white: hsl(0, 0, 100.0000%);
$grey: hsl(0, 0.0000%, 13.5941%);
$light-grey: hsl(0, 0.0000%, 93.3333%);

%flex-column-center {
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
}

%flex-row-baseline {
  @include display(flex);
  @include flex-direction(row);
  @include align-items(baseline);
}

%flex-row-center {
  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);
}

%flex-row-stretch {
  @include display(flex);
  @include flex-direction(row);
  @include align-items(stretch);
}

%heart {
  @extend %inlineBlock;
  font-family: 'icomoon';
  padding: 0 .3em;
  margin-top: .2em;
  color: red;
}

$fonts: (bariol_bold, bariol_light, bariol_thin, icomoon);

@each $font in $fonts {
  @font-face {
    font-family: $font;
      src: url('/fonts/#{$font}.eot');
      src: url('/fonts/#{$font}.eot?#iefix') format('embedded-opentype'), 
           url('/fonts/#{$font}.woff') format('woff'), 
           url('/fonts/#{$font}.ttf')  format('truetype');
  }
}

// font sizes use extends to group logically in the output
$font-sizes: (6, 7, 8, 9, 10, 11, 12, 14, 16, 18, 21, 24, 36, 48, 60, 72);

// set up extends for font-sizes
@each $font-size in $font-sizes {
  %font#{$font-size} {
    font-size: calcRem( $font-size );
  }
}

// display as an inline-block
%inlineBlock{
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
} 

@mixin arrow($arrow_direction: up, $arrow_position: middle) {
  .arrow {
    $arrow_size: 10px;
    $corner_position_offset: 1rem;
    position: absolute;
    width: 0;
    height: 0;
    color: $light-grey;

    @if $arrow_direction == up {
      top: -1 * $arrow_size;

      border-left: $arrow_size solid transparent;
      border-right: $arrow_size solid transparent;
      border-bottom-width: $arrow_size;
      border-bottom-style: solid;
    } @else if $arrow_direction == left {
      left: .08 * $arrow_size;

      border-top: $arrow_size solid transparent;
      border-bottom: $arrow_size solid transparent;
      border-right-width: $arrow_size;
      border-right-style: solid;
    } @else if $arrow_direction == right {
      right: -1 * $arrow_size;

      border-top: $arrow_size solid transparent;
      border-bottom: $arrow_size solid transparent;
      border-left-width: $arrow_size;
      border-left-style: solid;
    } @else {
      bottom: -1 * $arrow_size;

      border-left: $arrow_size solid transparent;
      border-right: $arrow_size solid transparent;
      border-top-width: $arrow_size;
      border-top-style: solid;
    }

    @if ($arrow_direction == left or $arrow_direction == right) {
      @if $arrow_position == middle {
        top: .9em;
        margin-left: -1 * $arrow_size;
      } @else if $arrow_position == top {
        top: $corner_position_offset;
      } @else if $arrow_position == bottom {
        bottom: $corner_position_offset;
      }
    } @else if ($arrow_direction == up or $arrow_direction == down) {
      @if $arrow_position == middle {
        left: 50%;
        margin-left: -1 * $arrow_size;
      } @else if $arrow_position == left {
        left: $corner_position_offset;
      } @else if $arrow_position == right {
        right: $corner_position_offset;
      }
    }
  }
}

// global selector settings
* {
  @include prefix(box-sizing, border-box);
  position: relative;
  overflow: hidden;
}

body {
  font-family: 'bariol_bold';
  color: $grey;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ul, ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $light-blue;
  &:hover {
    color: $dark-blue;
  }
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.inner {
  margin: 0 auto;
  padding: 0 1.5em;
  max-width: 50em;
}

.main {
  margin: 3em 0;
}

.btn {
  @extend %inlineBlock;
  @include prefix(border-radius, 3px);
  width: 100%;
  padding: .8em;
  text-align: center;
  text-transform: uppercase;
  background: $light-blue;
  color: $white;
  &:hover {
    cursor: pointer;
    color: $white;
    background: $dark-blue;
  }
}

header {
  .inner {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
  .buddybuddy-logo, nav {
    @extend %inlineBlock;
  }
  .buddybuddy-logo {
    margin-top: .1em;
    background: url('/images/logo.png');
    background-size: 100px 18px;
    width: 100px;
    height: 18px;
    text-indent: -9999em;
  }
  nav {
    float: right;
  }
  ul {
    margin: 0;
    text-align: right;
    li {
      @extend %inlineBlock;
      padding: 0 .5em;
    }
  }
}

.buddybuddy-logo {
  &.login {
    margin: 3em 0;
  }
}

.who {
  text-align: center;
  margin-bottom: .5em;
}

footer {
  font-family: 'bariol_light';
  margin-top: 6em;
  border-top: 1px solid #EEE;
}

.buddy-pairing {
  text-align: center;
  margin: 0 0 3em 0;
  ul, p {
    width: 100%;
    padding-left: 0;
  }
  ul {
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
  }
  li {
    @extend %inlineBlock;
    @extend %font36;
  }
}

// has-hearts
// Add this class to a ul when the li items will contain names that need <3
.has-hearts {
  li {
    @extend %inlineBlock; 
      &:nth-of-type(1):after, 
      &:nth-of-type(3):before {
      @extend %heart;
      content: "\e615";
    }
  }
}

.checkin {
  input {
    @include prefix(border-radius, 3px);
    @extend %font24;
    margin-bottom: .5em;
    padding: .5em .2em;
    width: 100%;
    border: 1px solid #CCC;
  }
}

.checkedin {
  display: block;
  width: 100%;
  text-align: center;
  color: darken($light-grey, 10%);
}

.checkins {
  h3 {
    text-align: center;
  }
  &:before {
    content: " ";
    position: absolute;
    left: calc(50% - 1px);
    height: 100%;
    top: 3.8em;
    border-right: 1px solid $light-grey;
  }
  article {
    @include prefix(border-radius, 3px);
    padding: .5em 1em;
    overflow: visible;
    position: relative;
    width: 45%;
    clear: both;
    background: $light-grey;
    &:nth-of-type(odd) {
      float: left;
      @include arrow(right, middle);
    }
    &:nth-of-type(even) {
      float: right;
      @include arrow(left, middle);
    }
  }
  span {
    display: block;
  }
  .message {
    @extend %font24;
  }
}
