@import 'bower_components/bones/bones.scss';
@import 'normalize.css';

// TO DO: pull these into a proper palettes file and use color functions
$light-blue: hsl(198, 75.6098%, 51.7647%);
$dark-blue: hsl(206, 74.8837%, 42.1569%);
$white: hsl(0, 0, 100.0000%);
$grey: hsl(0, 0.0000%, 13.5941%);

%flex-column-center {
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
}

%flex-row-baseline {
  @include display(flex);
  @include flex-direction(row);
  @include align-items(baseline);
}

%flex-row-center {
  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);
}

%flex-row-stretch {
  @include display(flex);
  @include flex-direction(row);
  @include align-items(stretch);
}

$fonts: (bariol_bold, bariol_light, bariol_thin);

@each $font in $fonts {
  @font-face {
    font-family: $font;
      src: url('/fonts/#{$font}.eot');
      src: url('/fonts/#{$font}.eot?#iefix') format('embedded-opentype'), 
           url('/fonts/#{$font}.woff') format('woff'), 
           url('/fonts/#{$font}.ttf')  format('truetype');
  }
}

// font sizes use extends to group logically in the output
$font-sizes: (6, 7, 8, 9, 10, 11, 12, 14, 16, 18, 21, 24, 36, 48, 60, 72);

// set up extends for font-sizes - see functions/sizing for other unit options
@each $font-size in $font-sizes {
  %font#{$font-size} {
    font-size: calcRem( $font-size );
  }
}

// display as an inline-block
%inlineBlock{
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
} 

* {
  position: relative;
  //@include display( flex );
  @include prefix(box-sizing, border-box);
  //flex-flow: column;
  //flex-shrink: 0;
  overflow: hidden;
}

body {
  font-family: 'bariol_bold';
  color: $grey;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: $light-blue;
  &:hover {
    color: $dark-blue;
  }
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.inner {
  margin: 0 auto;
  padding: 0 1.5em;
  max-width: 40em;
}

.btn {
  @extend %inlineBlock;
  @include prefix(border-radius, 3px);
  width: 100%;
  padding: .8em;
  text-align: center;
  text-transform: uppercase;
  background: $light-blue;
  color: $white;
  &:hover {
    cursor: pointer;
    color: $white;
    background: $dark-blue;
  }
}

header {
  .buddybuddy-logo, nav {
    @extend %inlineBlock;
  }
  .buddybuddy-logo {
    margin-top: .1em;
    background: url('/images/logo.png');
    background-size: 100px 18px;
    width: 100px;
    height: 18px;
    text-indent: -9999em;
  }
  nav {
    float: right;
  }
  ul {
    margin: 0;
    text-align: right;
    li {
      @extend %inlineBlock;
    }
  }
}

.buddybuddy-logo {
  &.login {
    margin: 3em 0;
  }
}

.who {
  text-align: center;
  margin-bottom: .5em;
}

footer {
  font-family: 'bariol_light';
  margin-top: 6em;
  border-top: 1px solid #EEE;
}

.buddy-pairing {
  text-align: center;
  margin: 3em 0;
  ul, p {
    width: 100%;
    padding-left: 0;
  }
  ul {
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
  }
  li {
    @extend %inlineBlock;
    @extend %font36;
  }
}

.checkin {
  input {
    @include prefix(border-radius, 3px);
    @extend %font24;
    margin-bottom: .5em;
    padding: .5em .2em;
    width: 100%;
    border: 1px solid #CCC;
  }
}


// pulled from Foundation for selectbox styling
select {
  -webkit-appearance: none !important;
  background: #fafafa url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==") no-repeat;
  background-position-x: 97%;
  background-position-y: center;
  border: 1px solid #cccccc;
  padding: 0.5rem;
  font-size: 0.875rem;
  -webkit-border-radius: 0;
  border-radius: 0; 
  width: 100%;
}

select.radius {
  -webkit-border-radius: 3px;
  border-radius: 3px; 
}
  
select:hover {
  background: #f2f2f2 url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==") no-repeat;
  background-position-x: 97%;
  background-position-y: center;
  border-color: #999999; 
}

select:focus {
  outline: none;
}

@-moz-document url-prefix() {
  
  select {
    background: #fafafa; 
  }

  select:hover {
    background: #f2f2f2; 
  } 
}