@import 'bower_components/bones/bones.scss';
@import 'normalize.scss';
@import 'icomoon.scss';
@import 'forms.scss';

// TO DO: pull these into a proper palettes file and use color functions
$light-blue: hsl(198, 75.6098%, 51.7647%);
$dark-blue: hsl(206, 74.8837%, 42.1569%);
$white: hsl(0, 0, 100.0000%);
$grey: hsl(0, 0.0000%, 13.5941%);
$light-grey: hsl(0, 0.0000%, 93.3333%);

%flex-column-center {
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
}

%flex-row-baseline {
  @include display(flex);
  @include flex-direction(row);
  @include align-items(baseline);
}

%flex-row-center {
  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);
}

%flex-row-stretch {
  @include display(flex);
  @include flex-direction(row);
  @include align-items(stretch);
}

%icomoon {
  @extend %inlineBlock;
  font-family: 'icomoon';
}

%no-margin {
  margin: 0;
}

$fonts: (bariol_bold, bariol_light, bariol_thin, icomoon);

@each $font in $fonts {
  @font-face {
    font-family: $font;
      src: url('/fonts/#{$font}.eot');
      src: url('/fonts/#{$font}.eot?#iefix') format('embedded-opentype'), 
           url('/fonts/#{$font}.woff') format('woff'), 
           url('/fonts/#{$font}.ttf')  format('truetype');
  }
}

// font sizes use extends to group logically in the output
$font-sizes: (6, 7, 8, 9, 10, 11, 12, 14, 16, 18, 21, 24, 36, 48, 60, 72);

// set up extends for font-sizes
@each $font-size in $font-sizes {
  %font#{$font-size} {
    font-size: calcRem( $font-size );
  }
}

// display as an inline-block
%inlineBlock{
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
} 

@mixin arrow($arrow_direction: up, $arrow_position: middle) {
  .arrow {
    $arrow_size: 10px;
    $corner_position_offset: 1rem;
    position: absolute;
    width: 0;
    height: 0;
    color: $light-grey;

    @if $arrow_direction == up {
      top: -1 * $arrow_size;

      border-left: $arrow_size solid transparent;
      border-right: $arrow_size solid transparent;
      border-bottom-width: $arrow_size;
      border-bottom-style: solid;
    } @else if $arrow_direction == left {
      left: .08 * $arrow_size;

      border-top: $arrow_size solid transparent;
      border-bottom: $arrow_size solid transparent;
      border-right-width: $arrow_size;
      border-right-style: solid;
    } @else if $arrow_direction == right {
      right: -1 * $arrow_size;

      border-top: $arrow_size solid transparent;
      border-bottom: $arrow_size solid transparent;
      border-left-width: $arrow_size;
      border-left-style: solid;
    } @else {
      bottom: -1 * $arrow_size;

      border-left: $arrow_size solid transparent;
      border-right: $arrow_size solid transparent;
      border-top-width: $arrow_size;
      border-top-style: solid;
    }

    @if ($arrow_direction == left or $arrow_direction == right) {
      @if $arrow_position == middle {
        top: .9em;
        margin-left: -1 * $arrow_size;
      } @else if $arrow_position == top {
        top: $corner_position_offset;
      } @else if $arrow_position == bottom {
        bottom: $corner_position_offset;
      }
    } @else if ($arrow_direction == up or $arrow_direction == down) {
      @if $arrow_position == middle {
        left: 50%;
        margin-left: -1 * $arrow_size;
      } @else if $arrow_position == left {
        left: $corner_position_offset;
      } @else if $arrow_position == right {
        right: $corner_position_offset;
      }
    }
  }
}

// global selector settings
* {
  @include prefix(box-sizing, border-box);
  @include prefix(transition, all .3s ease-in-out);
  position: relative;
}

body {
  font-family: 'bariol_bold';
  color: $grey;
  //background: url('/images/heart.svg');
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h3 {
  @extend %no-margin;
  text-transform: uppercase;
  color: darken($light-grey, 30%);
}

ul, ol {
  margin: 0;
  padding: 0;
}

input {
  border: none;
  &:focus {
    outline: none;
  }
}

select {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: $light-blue;
  &:hover {
    color: $dark-blue;
  }
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.inner {
  margin: 0 auto;
  padding: 0 1.5em;
  max-width: 50em;
}

.login {
  li {
    @include prefix(border-radius, 3px);
    @extend %flex-row-stretch;
    font-size: line-height( 11 );
    margin-bottom: 1em;
    width: 100%;
    background: $light-grey;
  }
  label {
    @include prefix(border-top-left-radius, 3px);
    @include prefix(border-bottom-left-radius, 3px);
    text-align: right;
    width: 6em;
    background: $dark-blue;
    color: $white;
    padding: .7em 1em .7em .5em;
  }
  input {
    background: none;
    padding-left: 1em;
  }
  button {
    border: 0;
    &:focus {
      outline: none;
    }
  }
}

.main {
  margin: 2em 0;
}

.btn {
  @extend %inlineBlock;
  @include prefix(border-radius, 3px);
  width: 100%;
  padding: .8em;
  text-align: center;
  text-transform: uppercase;
  background: $light-blue;
  color: $white;
  &:hover {
    cursor: pointer;
    color: $white;
    background: $dark-blue;
  }
}

.main-nav {
  background: $light-blue;
  .inner {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
  .buddybuddy-logo, nav {
    @extend %inlineBlock;
  }
  .buddybuddy-logo {
    margin-top: .1em;
    background: url('/images/bb-reverse.png');
    background-size: 30px 18px;
    width: 30px;
    height: 18px;
    text-indent: -9999em;
  }
  a {
    font-size: .9em;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 .5em;
  }
  nav {
    float: right;
  }
  ul {
    margin: 0;
    text-align: right;
    li {
      @extend %inlineBlock;
    }
  }
  .check-in {
    @include prefix(border-radius, 3px);
    padding: .4em .8em;
    border: 1px solid transparentize( white, .4 );
    &:hover {
      background: $white;
      color: $light-blue;
    }
  }
}

.buddybuddy-logo {
  &.login {
    margin: 1em 0;
  }
}

.your-history {
  margin-top: 3em;
}

.your-settings {
  @include prefix( border-radius, 3px );
  background: $light-grey;
  margin-top: 1em;
  margin-bottom: 3em;
  padding: 1em;
  label {
    display: block;
    margin-top: .5em;
  }
  input {
    @include prefix(border-radius, 3px);
    @extend %font24;
    background: white;
    padding: .3em .5em;
    width: 100%;
  }
}

.who {
  text-align: center;
  margin-bottom: .5em;
}

footer {
  font-family: 'bariol_light';
  margin-top: 6em;
  border-top: 1px solid #EEE;
}

.buddy-pairing {
  text-align: center;
  margin: 0 0 3em 0;
  ul, p {
    width: 100%;
    padding-left: 0;
  }
  ul {
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
  }
  li {
    @extend %inlineBlock;
    @extend %font36;
  }
}

// has-hearts
// Add this class to a ul when the li items will contain names that need <3
.has-hearts {
  li {
    @extend %inlineBlock; 
    &:nth-of-type(1):after, 
    &:nth-of-type(3):before {
      @extend %icomoon;
      color: red;
      padding: 0 .3em;
      margin-top: .2em;
      content: "\e615";
    }
  }
}

.heart {
  position: relative;
  &:before {
    @extend %icomoon;
    content: "\e615";
    color: red;
    margin-top: .2em;
  }
}

.checkin {
  textarea {
    @include prefix(border-radius, 3px);
    @extend %font24;
    margin-bottom: .5em;
    padding: .5em .2em;
    width: 100%;
    border: 1px solid #CCC;
    &:focus {
      border-color: $light-blue;
    }
  }
  .btn {
    margin-bottom: 3em;
  }
}

.checkedin {
  display: block;
  width: 100%;
  text-align: center;
  color: darken($light-grey, 20%);
}

.checkins {
  overflow: hidden;
  h3 {
    @include prefix(border-radius, 3px);
    //text-align: center;
    //background: #333;
    border-bottom: 2px solid $light-grey;
    color: #333;
    padding: .5em 0;
    margin-bottom: 3em;
    //width: 70%;
    //float: right;
  }
  // timeline line down the middle of the screen
  &:before {
    content: " ";
    position: absolute;
    left: 20%;
    height: 100%;
    top: 3em;
    border-right: 2px solid $light-grey;
  }
  article {
    clear: both;
    margin: 0 0 2em 0;
    overflow: hidden;
    header {
      @extend %font14;
      margin-top: .7em;
      //position: absolute;
      //top: .8em;
      float: left;
      width: 17%;
      text-align: right;
    }
  }
  .content {
    @include prefix(border-radius, 3px);
    @include arrow(left, middle);
    @extend %font14;
    padding: .5em 1em;
    overflow: visible;
    position: relative;
    width: 75%;
    float: right;
    background: $light-grey;
    color: lighten( $grey, 45% );
    &:last-child {
      margin-bottom: 0;
    }
    // dot placement on the timeline
    &:before {
      content: " ";
      position: absolute;
      width: .5em;
      height: .5em;
      border-radius: 1em;
      background: white;
      top: 1.2em;
      left: calc( -7% - 1px);
      @include prefix(box-shadow, 0 0 0 .2em red);
    }
    .message {
      color: lighten( $grey, 10% );
      margin-bottom: .5em;
    }
    &:nth-of-type(even) {
      @include arrow(left, middle);
      &:before {
      }
    }
  }
  .arrow, .message, .buddy, .date {
    display: block;
  }
  .message {
    @extend %font24;
  }
}

.need-love {
  display: block;
  text-align: center;
  background: white;
  padding: 2em;
  margin-top: 3em;
}

.pairings {
  ul, li {
    list-style-type: none !important;
  }
  h2 {
    @extend %font18;
    text-align: center;
  }
}

.row {
  position: relative;
  margin: .5em 0;
  padding: .5em 0;
  overflow: hidden;
  width: 100%;
  h2 {
    @extend %font18;
    border-bottom: 1px solid $light-grey;
    margin-top: 0;
    margin-bottom: .7em;
  }
  .has-hearts {
    @extend %inlineBlock;
    margin-top: .4em;
    padding: .4em 0;
    width: 100%;
    text-align: center;
    border: 1px solid $light-grey;
  }
  .checkin-marker {
    @extend %inlineBlock;
    padding-top: .8em;
    position: relative;
    overflow: visible;
    width: 100%;
    text-align: center;
    //border-left: 1px solid $light-grey;
    li {
      @include prefix(border-radius, 3px);
      @extend %inlineBlock;
      @extend %font14;
      position: relative;
      margin: 0 .3em;
      padding: .3em 1em;
      background: $light-grey;
      color: $grey;
      overflow: visible;
      // smiley face
      &:nth-of-type(4):after {
        @extend %font16;
        position: absolute;
        left: -2em;
        top: .53em;
        content: "\e617";
        font-family: 'icomoon';
        color: $grey;
      }
    }
    .buddy-name, .date {
      display: block;
      text-align: center;
    }
    .date {
      @extend %font10;
    }
  }
}

.favorites {
  @extend %font13;
  margin-top: .7em;
  padding: .7em 0 .3em 0;
  border-top: 1px dotted darken($light-grey, 10%);
  ul {
    list-style-type: none;
    margin-left: 1.65em;
    li {
      @extend %inlineBlock;
      &:after {
        content: ", ";
      }
      &:last-child:after {
        content: " ";
      }
    }
  }
  .icon-sad {
    margin: .2em 0 0 .5em;
  }
}

.star {
  display: block;
  &:hover {
    cursor: pointer;
  }
  &.not-favorite:before {
    content: "\e612";
    color: darken($light-grey, 25%);
    font-family: 'icomoon';
    margin-right: .3em;
    &:hover {
      color: $light-blue !important;
    }
  }
  &.favorite:before {
    content: "\e614";
    font-family: 'icomoon';
    color: $light-blue;
    margin-right: .5em;
  }
}
