<h2>Who are you?</h2>
{{view Ember.Select content=model 
                    value=currentUserService.user
                    optionLabelPath="content.name"
                    prompt="Select your name"}}
<button {{action "login"}}>Login</button>