<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Buddy Buddy</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/assets/vendor.css">
    <link rel="stylesheet" href="/assets/buddybuddy.css">
  </head>

  <body>
    <script>
      window.EmberENV = {"modulePrefix":"buddybuddy","environment":"production","baseURL":"/buddybuddy/","locationType":"history","EmberENV":{"FEATURES":{}},"APP":{}};
    </script>
    <script src="/assets/vendor.js"></script>
    <script src="/assets/buddybuddy.js"></script>
    <script>
      window.Buddybuddy = require('buddybuddy/app')['default'].create({});
    </script>
  </body>
</html>
