<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Buddy Buddy</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/buddybuddy-57d3b10286de836d4fa3f1fa31dc6e64.css">
    <link href='/images/favicon.ico' rel='shortcut icon'>
  </head>

  <body>
    <script>
      window.EmberENV = {"modulePrefix":"buddybuddy","environment":"production","baseURL":"/buddybuddy/","locationType":"history","EmberENV":{"FEATURES":{}},"APP":{}};
    </script>
    <script src="/assets/vendor-d21b3819935f02227aff8e77109a4db3.js"></script>
    <script src="/assets/buddybuddy-fc6091918687a459feb97776875e948f.js"></script>
    <script>
      window.Buddybuddy = require('buddybuddy/app')['default'].create({});
    </script>
  </body>
</html>
