<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Buddy Buddy</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/buddybuddy-9b831f1430a93cf7566a110936b58eea.css">
    <link href='/images/favicon.ico' rel='shortcut icon'>
  </head>

  <body>
    <script>
      window.EmberENV = {"modulePrefix":"buddybuddy","environment":"production","baseURL":"/buddybuddy/","locationType":"history","simple-auth":{"authorizer":"simple-auth-authorizer:devise"},"EmberENV":{"FEATURES":{}},"APP":{}};
    </script>
    <script src="/assets/vendor-a66c74726f6e42bc95ca9567aa5775c3.js"></script>
    <script src="/assets/buddybuddy-071c9cb57e31f225ca28fb40d3a1a4ce.js"></script>
    <script>
      window.Buddybuddy = require('buddybuddy/app')['default'].create({});
    </script>
  </body>
</html>
