<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Buddy Buddy</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/assets/vendor-9c307a9d0b616be4805f3351fd2c17ca.css">
    <link rel="stylesheet" href="/assets/buddybuddy-00308f687fd2cf14f3287240ba3156c0.css">
  </head>

  <body>
    <script>
      window.EmberENV = {"modulePrefix":"buddybuddy","environment":"production","baseURL":"/buddybuddy/","locationType":"history","EmberENV":{"FEATURES":{}},"APP":{}};
    </script>
    <script src="/assets/vendor-d21b3819935f02227aff8e77109a4db3.js"></script>
    <script src="/assets/buddybuddy-fc6de5d8dbee6ee21744d45f3dc948ad.js"></script>
    <script>
      window.Buddybuddy = require('buddybuddy/app')['default'].create({});
    </script>
  </body>
</html>
